<footer>
  <hr>
  <p>Copyright <%= current_year %></p>
  <p>Project: <%= github_url(author='fedor-ches098', repo='rails') %></p>
  <p><%= t('.description') %></p>
  <p><%= link_to  t('.url'), "https://thinknetica.com/", target: '_blank'%></p>
</footer>
