<% if user_signed_in? %>
  <p class="nav user">
    <%= t('.welcome', user_email: current_user.email) %>% |
    <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
  </p>
<% end %>
