<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<h3>Questions:</h3>

<table>
	<tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
	</tr>
<%= render @test.questions %>
</table>

