<footer>
  <hr>
  <p>Copyright <%= current_year %></p>
  <p>Project: <%= github_url(author='fedor-ches098', repo='rails') %></p>
  <p>Приложение для управления тестами.</p>
  <p><%= link_to  "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com/", target: '_blank'%></p>
</footer>
